{% extends "base.html.twig" %}

{% block body %}
	<div class="container">
		<div class="my-5">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			<button class="btn btn-primary" type="submit">Add category</button>
			<input type="file" id="program_posterFile_file" name="program[posterFile][file]">
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
